<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50599405772-061i598vdh9gnbm6asro2qpdggvto91v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50599405772-061i598vdh9gnbm6asro2qpdggvto91v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>50599405772-hf992ei15e3cdt0b7jss2vgpflamn7n3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBO33CbpkP528dRrp_lW35lWbx5ztcbMvo</string>
	<key>GCM_SENDER_ID</key>
	<string>50599405772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timesheet</string>
	<key>PROJECT_ID</key>
	<string>timesheet-oct</string>
	<key>STORAGE_BUCKET</key>
	<string>timesheet-oct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50599405772:ios:ec2088d6294f018f793a69</string>
	<key>DATABASE_URL</key>
	<string>https://timesheet-oct-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>